body {
    margin: 0;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-item {
    background-color: black;
    margin: 5px;
    min-width: 150px;
    height: 120px;
  }

  .orange {
    background-color: orange;
  
  }
  
  .green {
      background-color: green;
  }
  