body {
    margin: 0;
  }
  
  .flex-container {
    display: flex;
    height: 100vh;
  }
  
  .flex-item {
    background-color: black;
    color: honeydew;
    text-align: center;
    margin: 5px;
    height: 120px;
    
    flex-grow: 1;

    
    width: 300px;
    
    
  }
  
  .orange {
    background-color: orange;

    /* no cede su espacio * cuando las dos cajas igualan a 300px, la naranja empieza a crecer cuando la ventana crece */
    flex-shrink:0 ;

    /* es mas importante que el width */
    flex-basis: 300px;
    
  }
  
  .green {
    background-color: green;
    
    
  }
  